.dark-heresy{
    width: 100 px;
    height: 100px;
}

.pathfinder{
    width: 100 px;
    height: 100px;
}

.frustration{
    width: 100 px;
    height: 100px;
}

.wod{
    width: 100 px;
    height: 100px;
}